* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
}

#root {
  padding: 80px 20px 20px;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 80px;

  padding: 0 40px;

  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  
  background-color: cornsilk;
}

div.logo {
  width: 100px;
  height: 60px;

  border: 2px solid black;
}

nav {
  display: flex;
  gap: 40px;
}

button.menu {
  display: none;
}

header button:not(.menu) {
  position: relative;
  
  border: 0;
  background-color: unset;
  
  font-size: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  
  cursor: pointer;
}

header button:not(.menu)::after {
  content: "";
  
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 100%;
  width: 0%;

  border-bottom: 2px solid black;

  transition: all 0.3s ease;
}

header button:not(.menu):hover::after {
  width: calc(100% + 10px);
}

div.loading-container {
  position: relative;
}

div.loading-container h2 {
  margin-top: 50px;
}

div.loading, div.loading-2 {
  width: 50px;
  height: 50px;
  animation: rotate 1s ease-in-out infinite;
}

div.loading {
  position: relative;
}

div.loading-2 {
  position: absolute;
  top: 0;
  left: 0;

  animation-delay: 0.15s;
}

div.circle {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;

  background-color: rgba(146, 216, 148, 0.391);
}

div.loading-2 div.circle {
  background-color: rgba(245, 216, 168, 0.391);
}

div.circle:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
}


div.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 5px solid black;
  border-radius: 40px;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  position: relative;

  transform: scale(0.8);

  transition: all 0.3s ease;
}

div.card:hover {
  transform: scale(0.9);
}

div.card > h3 {
  position: absolute;
  top: 27px;
  left: 20px;

  font-size: 24px;
}

div.card > h2 {
  font-size: 36px;
  position: relative;
  margin-bottom: 20px;
  min-height: 80px;

  padding: 0 30px;

  text-align: center;
}

div.card > h2::after {
  content: "";

  display: block;

  width: calc(100% + 40px);
  height: 100%;

  position: absolute;
  top: 17px;
  left: -20px;

  border-bottom: 3px solid black;

  pointer-events: none;
}

div.card > img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 2px solid black;
}

div.card > p {
  font-style: italic;

  padding: 20px;

  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}

div.stats {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0 0;
}

div.stats > span {
  border: 2px solid black;

  width: 60px;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  font-size: 24px;

  position: relative;
}

div.stats > span::before {
  content: attr(stat-name);

  position: absolute;

  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  
  font-size: 16px;
}

@keyframes rotate {
  0% { 
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  button.menu {
    display: block;

    border-top: 2px solid black;

    width: 30px;

    position: relative;

    transition: all 0.15s ease;
  }

  button.menu::before {
    content: "";

    position: absolute;

    top: -10px;
    left: -2px;

    width: 26px;

    border: 2px solid black;

    transition: all 0.3s ease;
  }

  button.menu::after {
    content: "";

    position: absolute;

    bottom: -10px;
    left: -2px;

    width: 26px;

    border: 2px solid black;

    transition: all 0.3s ease;
  }

  button.menu.open {
    border-color: transparent;
  }

  button.menu.open::before {
    left: -2px;
    top: -2px;
    transform: rotate(45deg);
  }

  button.menu.open::after {
    left: -2px;
    bottom: -2px;
    transform: rotate(-45deg);
  }

  nav {
    position: fixed;
    align-items: center;

    top: 79px;
    right: 0;

    padding: 20px 40px;

    flex-direction: column;

    transform: translateX(100%);

    border: 1px solid black;

    transition: all 0.3s ease;

    background-color: #fff;
  }

  button.menu.open ~ nav{
    transform: translateX(0);
  }
}